




<div *ngIf="model.product" class="title">{{model.product.title}}</div>

<div *ngIf="model.product" class="title">{{model.product.title}}</div>

<ul>
  <li *ngFor="let product of model.products">{{product.title}}</li>
</ul>

<div [ngSwitch]="model.product?.product_id">
  <app-happy-hero    *ngSwitchCase="'happy'"    [product]="model.product"></app-happy-hero>
  <app-sad-hero      *ngSwitchCase="'sad'"      [product]="model.product"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'confused'" [product]="model.product"></app-confused-hero>
  <app-unknown-hero  *ngSwitchDefault           [product]="model.product"></app-unknown-hero>
</div>

<div class="logo">
  <span>LOGO</span>
  <div class="spacer"></div>
</div>

<div class=".debaixoLogo">
  <hr class=".debaixoLogo" />
</div>

<div class=".caixaCumprida">Home</div>

<div class=".caixaCurta">
  <p class=".degrauMenor">
    Lorem ipsum dolor sit amet, consectur adipiscing elit,sed do elusmod tempo
    incidunt
  </p>

  <div class="ex1">ut labore et dolore magna aliqua.</div>
</div>

<!-- <input type="checkbox" id="uploader" [checked]="showUploader" (click)="toggleUploader()"> -->
<label for="uploader">Uploader</label>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <formly-form
    [model]="model"
    [fields]="fields"
    [options]="options"
    [form]="form"
  >
    <button class=".enviar">Enviar</button>
  </formly-form>
</form>

<app-form-debug [form]="form.value" [model]="model"></app-form-debug>

<label> Title </label>

<mat-button> ENVIAR mat-button </mat-button>

<span>
  <app-products>
    {{ model.products[0].title }}

    {{ model.products[0].type }}

    {{ model.products[0].description }}

    {{ model.product[0].price }}

    {{ model.products[0].rating }}
  </app-products>
</span>

<nav>External Links</nav>
