.logo {

  padding: 10px;
  border: 1px solid black;

}

.debaixoLogo hr{
  padding: 10px;
  border: 1px solid black;
  margin: 0;
}

.caixaComprida {
  width: 98%;
  padding: 10px;
  border: 1px solid black;
  margin: 0;
}

.caixaCurta {
  width: 320px;
  padding: 10px;
  border: 1px solid black;
  margin: 0;
}

.degrauMenor{
	color : blue;
	border: 10px solid black;	
}

.degrauMaior{
	color : green;
	border: 100px solid black;	
}

p.ex1 {
  border: 1px solid red; 
  padding-bottom: 25px;
}


.enviar{
  color: blue;
  background-color: white;
  width: 100px;
  height: 100px;
}

.duasColunas{
	color: green;
}

.coluna1{
	float: left
}

.coluna2{
	color: red;
}