<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span>LOGO</span>
    <div class="spacer"></div>
</div>

<div class=".debaixoLogo">
<hr class=".debaixoLogo">
</div>

<div class=".caixaCumprida">
Home
</div>


<div class=".caixaCurta">
<p class=".degrauMenor">Lorem ipsum dolor sit amet, consectur adipiscing elit,sed do elusmod tempo incidunt</p>
<br class=".degrauMaior" class="ex1">ut labore et dolore magna aliqua.</br>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <formly-form 
  [model]="model" 
  [fields]="fields" 
  [options]="options" 
  [form]="form">
<label>
Label
</label>
<button>
Button
</button>
  </formly-form>
</form>

<app-form-debug [form]="form.value" [model]="model"></app-form-debug>

ENVIAR

<mat-button>
  ENVIAR
</mat-button>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">



    
      

      <table>
<td>
td
</td>
<tr>
tr
</tr>
      </table>
    

    <span>{{ title }}
      {{ type }}
      {{ description }}
      {{ price }}
      {{ rating }}
    </span>
	
	<nav>
	External Links
	</nav>

    



  </div>

  

  

  

  

  

  








