<div class="toolbar" role="banner">
  <span>LOGO</span>
  <div class="spacer"></div>
</div>

<div class=".debaixoLogo">
  <hr class=".debaixoLogo" />
</div>

<div class=".caixaCumprida">Home {{ title }}</div>

<div class=".caixaCurta">
  <p class=".degrauMenor">
    Lorem ipsum dolor sit amet, consectur adipiscing elit,sed do elusmod tempo
    incidunt
  </p>

  <div class="ex1">ut labore et dolore magna aliqua.</div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <formly-form
    [model]="model"
    [fields]="fields"
    [options]="options"
    [form]="form"
  >
    <button class=".enviar">Enviar</button>
  </formly-form>
</form>

<app-form-debug [form]="form.value" [model]="model"></app-form-debug>

<label> Title </label>

<mat-button> ENVIAR mat-button </mat-button>

<span>
  <app-products>
    {{ model.title }}

    {{ model.type }}

    {{ model.description }}

    {{ model.price }}

    {{ model.rating }}
  </app-products>
</span>

<nav>External Links</nav>
